html, body, main{
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.my-contact{
    display: inline-flex;
    width: 50%;
}

.contact-me{
    display: inline-flex;
    width: 50%;
}

#contact-body{
    box-sizing: border-box;
    display: inline-flex;
    width: 100%;
    height: fit-content;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

#my-contact{
    box-sizing: border-box;
    display: flex;
    min-width: 384px;
    width: 50%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 2rem;
}

#contact-me{
    box-sizing: border-box;
    display: flex;
    min-width: 384px;
    width: 50%;
    align-items: center;
    flex-direction: column;
    padding-bottom: 2rem;
}

#profile-pic img{
    box-sizing: border-box;
    width: 50%;
    height: auto;
    border-radius: 50%;
}
 #form{
     box-sizing: border-box;
     display: flex;
     flex-direction: column;
     padding: 0 2rem 2rem 2rem;
     width: 100%;
     align-items: center;
 }

 .form-section{
     box-sizing: border-box;
     width: 100%;
     height: fit-content;
     padding: 1rem;
     text-align: left;
 }

#submit-button{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
#submit{
    box-sizing: border-box;
    display: flex;
    width: 25%;
    color: #004d40;
    background-color: #e0f2f1;
    border: none;
    padding: 0.25rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
    justify-content: center;
}

 input, textarea{
     box-sizing: border-box;
     width: 100%;
     border: none;
     border-bottom: 1px solid #b0b0b0;
     margin-top: 0.5rem;
     font-family: Montserrat, sans-serif;
     font-weight: 250;
 }

 label{
     box-sizing: border-box;
     color: #757575;
     text-align: left;
     font-weight: 400;
 }