html, body, main{
    margin: 0;
    padding: 0;
    max-width: 100%;
}

#contact-body{
    box-sizing: border-box;
    display: inline-flex;
    width: 100%;
    height: fit-content;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

#my-contact{
    box-sizing: border-box;
    display: flex;
    min-width: 384px;
    width: 50%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 0;
}

#contact-me{
    box-sizing: border-box;
    display: flex;
    min-width: 384px;
    width: 50%;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0;
}

#profile-pic img{
    box-sizing: border-box;
    width: 50%;
    height: auto;
    border-radius: 50%;
}
 #form{
     box-sizing: border-box;
     display: flex;
     flex-direction: column;
     padding: 0 2rem 2rem 2rem;
     width: 100%;
     align-items: center;
 }

 .form-section{
     box-sizing: border-box;
     width: 100%;
     height: fit-content;
     padding: 1rem;
     text-align: left;
 }

#submit-button{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
#submit{
    box-sizing: border-box;
    width: 25%;
    color: #004d40;
    background-color: #e0f2f1;
    border: none;
    display: flex;
    padding: 0.25rem;
    border-radius: 0.25rem;
}

 input, textarea{
     box-sizing: border-box;
     width: 100%;
     border: none;
     border-bottom: 1px solid #b0b0b0;
     margin-top: 0.5rem;
 }

 label{
     box-sizing: border-box;
     color: #757575;
     text-align: left;
 }