/* Font Sizing */
h1{
    font-size: 1.75rem;
    font-weight: 700;
}

h2{
    font-size: 1.5rem;
    font-weight: 600;
}

h3{
    font-size: 1.25rem;
    font-weight: 600;
}

h4{
    font-size: 1.125rem;
    font-weight: 500;
}

h5{
    font-size: 1rem;
    font-weight: 500;
}

h6{
    font-size: 0.875rem;
    font-weight: 400;
}

p{
    font-size: 1.0625rem;
    font-weight: 400;
}

/*MAIN PAGE SECTIONS*/
/*HEADER*/
header{
    height: 75px;
}

#Small-logo{
    display: none;
}
/*MAIN*/

/*FOOTER*/
footer{
    height: 35px;
}

#content-wrap {
    padding-bottom: 35px;    /* Footer height */
}